@font-face {
    font-family: "Century Gothic";
    src: url('../fonts/CenturyGothic_regular.ttf');
}

@keyframes slideLeft {
    0% {left: 100vw;}
    100% {left: 0;}
}
@keyframes slideRight {
    0% {left: -100vw;}
    100% {left: 0px;}
}

::-webkit-scrollbar {
    width: 6px;;
}
::-webkit-scrollbar-track {
    background-color: #707070;
    border-radius: 5px;
    margin: 20px 0;
}
::-webkit-scrollbar-thumb {
    background-color: #c3c3c3;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
}

body {
    font-family: "Century Gothic";
    scrollbar-width: none;
    overflow: hidden;
}

.section {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    z-index: 0;
}

.section__homepage,
.section__gallery {
    background: rgb(57,57,57);
    background: linear-gradient(45deg, rgba(57,57,57,1) 0%, rgba(0,0,0,1) 50%, rgba(57,57,57,1) 100%);
    color: #ffffff;
}

.section__homepage .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__homepage .content .section__mainlogo {
    height: 450px;
    margin-bottom: 25px;
}

.section__homepage .content .section__topheader {
    text-align: left;
    width: 500px;
    font-size: 65px;
    margin-bottom: 10px;
}
.section__homepage .content .section__bottomheader {
    text-align: right;
    font-size: 35px;
    width: 500px;
}

.navigation__arrow--left,
.navigation__arrow--right {
    color: #c3c3c3;
    font-size: 20px;
    position: fixed;
    top: 50%;
    z-index: 500;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

.navigation__arrow--left {
    left: 15px;
    margin-left: 30px;
    text-align: left;
}
.navigation__arrow--left::before {
    position: absolute;
    font-family: 'Material Icons';
    content: 'keyboard_arrow_left';
    font-size: 50px;
    height: 50px;
    width: 50px;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;;
}
.navigation__arrow--right {
    right: 15px;
    margin-right: 30px;
    text-align: right;
}
.navigation__arrow--right::after {
    position: absolute;
    font-family: 'Material Icons';
    content: 'keyboard_arrow_right';
    font-size: 50px;
    height: 50px;
    width: 50px;
    top: 50%;
    transform: translateY(-50%);
    right: -50px;
}

.navigation {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 15px;
    z-index: 1000;
}

.navigation__list  {
    display: flex;
}

.navigation .navigation__list .navigation__listelement {
    margin: 0 10px;
    cursor: pointer;
}

.navigation .navigation__list .navigation__listelement svg {
    fill: #707070;
    height: 100%;
}

.footer {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    right: 0;
    bottom: 0;
    width: 100vw;
    box-sizing: border-box;
}
.footer .footer__text {
    font-size: 15px;
    color: #707070
}

/* ################################################## */

.active-slide {
    display: block;
    z-index: 1;
}