@font-face {
    font-family: "Century Gothic";
    src: url('../fonts/CenturyGothic_regular.ttf');
}


body::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Century Gothic";
    height: 4000px;
    scrollbar-width: none;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 400%;
    height: 100vh;
    display: flex;
}

.container section {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.homepage,
.gallery {
    background: rgb(57,57,57);
    background: linear-gradient(45deg, rgba(57,57,57,1) 0%, rgba(0,0,0,1) 50%, rgba(57,57,57,1) 100%);
    color: #ffffff;
}

section h2 {
    font-size: 60px;
}

/* 
####################
##### HOMEPAGE #####
####################
*/
.homepage,
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage .section--topheader {
    display: block;
    text-align: left;
    font-size: 65px;
    margin-bottom: 10px;
}
.homepage .section--bottomheader {
    text-align: right;
    font-size: 35px;
}

.homepage .section--mainlogo {
    height: 450px;
    margin-bottom: 25px;
}

/* 
####################
##### SERVICES #####
####################
*/

.services .section-header {

}

.services .content .section--table {
    display: flex;
}

/* 
###################
##### GALLERY #####
###################
*/

/* 
###################
##### CONTACT #####
###################
*/


.services .section--left-column,
.services .section--right-column {

}

.arrow-left,
.arrow-right {
    color: #c3c3c3;
    font-size: 20px;
    position: fixed;
    top: 50%;
    z-index: 500;
    border: 1px solid #fff;
    transform: translateY(-50%);
}

.arrow-left {
    left: 10px;
}
.arrow-right {
    right: 10px;
}


nav {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 15px;
}
nav ul {
    display: flex;
}
nav ul li {
    margin: 0 10px;
}

nav ul li svg {
    fill: #707070;
    height: 100%;
}
nav ul li svg.active {
    fill: #ffffff
}

footer {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    right: 0;
    bottom: 0;
    width: 100vw;
    box-sizing: border-box;
}
footer .footer--paragraph {
    font-size: 15px;
    color: #707070
}